In [1]:
#Importing the data
import os
import  pandas as pd
import numpy as np

In [ ]:
pdread = pd.read_csv('/Users/kohsukesagara/Desktop/graspp-25S-innovation/data/特許件数/2023.csv')
pdread

tokkyou_path = "/Users/kohsukesagara/Desktop/graspp-25S-innovation/data/特許件数" # 特許件数へのパス
tokkyou_all_years = {}
for year in os.listdir(tokkyou_path):
	file_path = os.path.join(tokkyou_path, year)
	df = pd.read_csv(file_path, encoding='utf-8')
	tokkyou_all_years[year[:4]] = df


kaihatsuhi_path = "/Users/kohsukesagara/Desktop/graspp-25S-innovation/data/研究開発費" # 開発費へのパス
kaihatsuhi_all_years = {}
for year in os.listdir(kaihatsuhi_path):
	file_path = os.path.join(kaihatsuhi_path, year)
	df = pd.read_csv(file_path, encoding='utf-8')
	kaihatsuhi_all_years[year[:4]] = df

In [ ]:
# tokkyou_all_years

kaihatsuhi_all_years['2015'].head(10)

,Unnamed: 0,産業,研究開発_企業数,研究開発_売上高（百万円）,研究開発_研究開発費_計,研究開発_研究開発費_自社研究開発費（百万円）,研究開発_研究開発費_委託研究開発費（百万円）,研究開発_研究開発費_委託研究開発費（百万円）_うち、関係会社への委託_国内（百万円）,研究開発_研究開発費_委託研究開発費（百万円）_うち、関係会社への委託_海外（百万円）,研究開発_売上高研究開発費比率（％）,研究開発_受託研究費（百万円）,研究開発_受託研究費（百万円）_うち、関係会社からの受託_国内（百万円）,_受託研究費（百万円）_うち、関係会社からの受託_海外（百万円）,研究開発投資_企業数,研究開発投資_当期取得額（百万円）,能力開発_企業数,能力開発_能力開発費（百万円）
0,0,総合計,8520.0,361522745,14056254,11821045,2235209,946179,295944,3.89,1064379,81437.0,53539.0,1929.0,652596,8958.0,207770
1,1,合計,8317.0,354902742,14015608,11791562,2224046,945893,295912,3.95,1061650,81258.0,53539.0,1905.0,651011,8472.0,198820
2,2,鉱業、採石業、砂利採取業,9.0,ｘ,ｘ,ｘ,ｘ,ｘ,NaN,ｘ,14,1.0,NaN,3.0,ｘ,11.0,312
3,3,製造業,6205.0,243948228,11530426,9593437,1936989,915431,226692,4.73,251364,23116.0,46571.0,1604.0,542625,3788.0,101801
4,4,090食料品製造業,659.0,13615107,133238,128268,4970,872,105,0.98,347,102.0,NaN,113.0,10460,396.0,3856
5,5,091畜産食料品製造業,92.0,4255689,36049,35146,903,254,NaN,0.85,18,NaN,NaN,9.0,4911,79.0,945
6,6,092水産食料品製造業,73.0,641209,3698,3551,147,6,NaN,0.58,23,1.0,NaN,7.0,47,36.0,203
7,7,093精穀・製粉業,17.0,511374,4040,4037,3,NaN,NaN,0.79,4,NaN,NaN,4.0,25,12.0,116
8,8,099その他の食料品製造業,477.0,8206835,89451,85534,3917,612,105,1.09,302,101.0,NaN,93.0,5477,269.0,2592
9,9,100飲料・たばこ・飼料製造業,118.0,6332927,61355,59079,2276,80,NaN,0.97,414,NaN,NaN,37.0,2892,66.0,1103